:root {
    --default-font-family: "Roboto", "Helvetica", sans-serif;
    --default-monospace-font-family: "JetBrains Mono Regular", "Roboto Mono", monospace;
    font-family: var(--default-font-family);

    --btn-clicked-anim-scale: 1.25;

    --icon-size: 24px;

    /* light mode */
    --theme-accent-rgb: 235, 156, 0;
    --theme-accent-filter: invert(53%) sepia(80%) saturate(1160%) hue-rotate(9deg) brightness(102%) contrast(101%);
    --theme-accent: rgb(var(--theme-accent-rgb));
    --theme-background: #f6f8fa;
    --theme-background-alt: #eeeeee;
    --theme-background-alt-focus: #d8d8d8;
    --theme-background-highlight: #dddddd;
    --theme-text: #000000;
    --theme-svg-icon-filter: none;
    --theme-header-icon-hover-filter: invert(0.35);

    --theme-diff-ins: #bee194;
    --theme-diff-ins-line: #effad8;
    --theme-diff-del: #ff9393;
    --theme-diff-del-line: #ffd2d2;

    /* based on Github's Light theme */
    --theme-code-keyword: #d73a49;
    --theme-code-type: #6f42c1;
    --theme-code-xml-element: #d73a49;
    --theme-code-xml-attribute: #6f42c1;
    --theme-code-comment: #529949;
    --theme-code-number: #098658;
    --theme-code-string: #a31515;

    --theme-game-title-base-color: #ffffff;
    --theme-game-title-border-color: #000000;
    --theme-game-title-border-offset: 2px;
    --theme-game-title-border-offset-neg: -2px;
}

.dark-mode {
    color-scheme: dark;
    --theme-accent-rgb: 255, 176, 0;
    --theme-accent-filter: invert(72%) sepia(84%) saturate(2415%) hue-rotate(360deg) brightness(102%) contrast(103%);
    --theme-background: #11161d;
    --theme-background-alt: #22272e;
    --theme-background-alt-focus: #35393e;
    --theme-background-highlight: #33383f;
    --theme-text: #eeeeee;
    --theme-svg-icon-filter: invert(0.8);
    --theme-header-icon-hover-filter: invert(0.35);

    --theme-diff-ins: #4b5a2a;
    --theme-diff-ins-line: #3d4232;
    --theme-diff-del: #6f1313;
    --theme-diff-del-line: #502424;

    /* based on Github's Dark Dimmed theme */
    --theme-code-keyword: #f47067;
    --theme-code-type: #dcbdfb;
    --theme-code-xml-element: #f47067;
    --theme-code-xml-attribute: #dcbdfb;
    --theme-code-comment: #8ddb8c;
    --theme-code-number: #b5cea8;
    --theme-code-string: #ce9178;
}

:focus-visible {
    outline: 2px var(--theme-accent) solid;
    border-radius: 4px;
}

@font-face {
    font-family: "Redemption";
    src: url("../fonts/Redemption.woff2") format("woff2");
}

@font-face {
    font-family: "Pricedown";
    src: url("../fonts/Pricedown.woff2") format("woff2");
}

@font-face {
    font-family: "Slate W01 Bold Italic";
    src: url("../fonts/Slate-W01-Bold-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono Regular";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

.hidden {
    display: none !important;
    visibility: collapse !important;
}

body {
    background: var(--theme-background);
    color: var(--theme-text);
    margin: auto;
    padding: 0;
}

header {
    margin-top: 0.67em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.row-layout {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1em;
}

.header-push, .row-layout-push {
    margin-left: auto;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--default-monospace-font-family);
    color: var(--theme-text);
    text-decoration: none;
}

.header-title:hover {
    filter: invert(0.35);
}

.header-icon {
    background: none;
    border: none;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    transition: transform 0.1s;
    cursor: pointer;
}

.header-icon:hover > img {
    filter: var(--theme-header-icon-hover-filter);
    transform: scale(1.125);
}

.header-icon > img {
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
    filter: var(--theme-svg-icon-filter);
}

.dump-title {
    margin-block: 0;
}

/* game titles fonts */
.gta4-font, .gta5-font, .gta6-font {
    font-family: "Pricedown", var(--default-font-family);
}

.gta5-font-detail {
    color: #559433;
}

.gta6-font-detail {
    --theme-game-title-border-color: #f47afe;
}

.rdr2-font, .rdr3-font {
    font-family: "Redemption", var(--default-font-family);
}

.rdr3-font-detail {
    color: #ee0000;
}

.mp3-font {
    font-family: "Slate W01 Bold Italic", var(--default-font-family);
    --theme-game-title-border-offset: 1px;
    --theme-game-title-border-offset-neg: -1px;
}

.mp3-font-detail {
    color: #f1b525;
}

.gta4-font, .gta5-font, .gta6-font, .gta6-font-detail, .rdr2-font, .rdr3-font, .mp3-font {
    color: var(--theme-game-title-base-color);
    text-shadow:
        var(--theme-game-title-border-offset-neg) var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        0                                         var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     0                                         0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        0                                         var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset-neg) var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset-neg) 0                                         0 var(--theme-game-title-border-color);
}

.mp3-font > small,
.gta4-font > small,
.gta5-font > small,
.gta6-font > small,
.rdr2-font > small,
.rdr3-font > small {
    /* reset font changes for small text */
    font-family: var(--default-font-family);
    color: var(--theme-text);
    text-shadow: none;
}

.themed-button {
    font-size: 1rem;
    padding: 0.11em 1.33em;
    min-width: 8em;
    color: var(--theme-text);
    background-color: var(--theme-background-alt);
    border: 2px solid var(--theme-text);
    border-radius: 4px;
    cursor: pointer;
}

.themed-button:hover,
.themed-button:focus-visible {
    background-color: var(--theme-background-alt-focus);
}

.themed-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.themed-table th {
    text-align: left;
    padding: 10px;
}

.themed-table td {
    text-align: left;
    padding: 0 10px;
}

.themed-table thead > tr {
    background-color: var(--theme-background);
    border-bottom: 2px solid var(--theme-text);
    border-top: 2px solid var(--theme-text);
}

.themed-table tbody > tr > td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.themed-table tbody > tr:nth-child(odd) {
    background-color: var(--theme-background-alt);
}

.themed-table tbody > tr:nth-child(even) {
    background-color: var(--theme-background);
}

.themed-table tbody > tr:last-child {
    border-bottom: 2px solid var(--theme-text);
}

dump-tables-container:has(dump-table[data-compare]) > dump-table:not([data-compare])  {
    opacity: 0.25;
    pointer-events: none;
}

.dump-table-wrapper {
    --dump-table-padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: var(--dump-table-padding);
    padding-right: var(--dump-table-padding);
}

.dump-header {
    margin-block: 0.83em;
}

.dump-table th:first-child {
    width: calc(var(--icon-size) * 1.25);
}

.dump-table th:nth-child(2) {
    width: 15%;
}

.dump-table tbody > tr:hover {
    background-color: var(--theme-background-alt-focus);
}

.dump-table[data-compare] tbody > tr[data-compare-selected] {
    background-color: rgba(var(--theme-accent-rgb), 0.4);
}

.dump-table[data-compare] tbody > tr[data-compare-selected]:hover {
    background-color: rgba(var(--theme-accent-rgb), 0.7);
}

.dump-table tbody > tr > td:first-child {
    position: relative;
}

/* make link fill the entire row */
.dump-link {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: calc(100vw - var(--dump-table-padding) * 2);
    cursor: pointer;
}

.dump-downloads-dropdown {
    position: relative;
}

.dump-downloads-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.67em;
    color: var(--theme-text);
    text-decoration: none;
    margin: 0;
}

.dump-downloads-dropdown-panel {
    --dropdown-panel-border-radius: 6px;
    position: absolute;
    z-index: 10;
    background-color: var(--theme-background);
    border-radius: var(--dropdown-panel-border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

.dump-downloads-dropdown-panel-left {
    left: 0;
}

.dump-downloads-dropdown-panel-right {
    right: 0;
}

.dump-downloads-dropdown-entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.67em;
    color: var(--theme-text);
    text-decoration: none;
    margin: 0;
    padding: 0.4em;
    --theme-header-icon-hover-filter: var(--theme-svg-icon-filter);
}

.dump-downloads-dropdown-entry:first-of-type {
    border-top-left-radius: var(--dropdown-panel-border-radius);
    border-top-right-radius: var(--dropdown-panel-border-radius);
}

.dump-downloads-dropdown-entry:last-of-type {
    border-bottom-left-radius: var(--dropdown-panel-border-radius);
    border-bottom-right-radius: var(--dropdown-panel-border-radius);
}

.dump-downloads-dropdown-entry:hover {
    background-color: var(--theme-background-alt-focus);
}

.dump-body {
    /* prevent page scrolling */
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.dump-main {
    overflow: hidden;
    flex: 1;
}

dump-tree {
    height: 100%;
}

.dump-tree-root {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.dump-tree-root #game-info {
    display: inline-block;
}

.dump-tree-root #search-box {
    display: inline-block;
    flex-grow: 1;
    position: relative;
    margin-left: 0.5em;
}

.dump-tree-root #search-input {
    width: 100%;
    padding: 0.3em;
    color: var(--theme-text);
    background: var(--theme-background-alt);
    border: none;
    border-radius: 4px;
    font-family: var(--default-monospace-font-family);
    font-size: 1.2em;
    outline: none;
    box-sizing: border-box;
}

.dump-tree-root #search-input:hover,
.dump-tree-root #search-input:focus {
    background: var(--theme-background-alt-focus);
}

.dump-tree-root #search-options {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 0.5em;
    column-gap: 0.4em;
}

.dump-search-toggle {
    padding: 2px;
    margin: -2px;
    border-radius: 4px;
}

.dump-search-toggle {
    padding: 2px;
    margin: -2px;
    border-radius: 4px;
}

.dump-search-toggle:hover {
    filter: none; /* remove hover effects from .header-icon */
    transform: none;
    background-color: var(--theme-background-highlight);
}

.dump-search-toggle.enabled {
    background-color: rgba(var(--theme-accent-rgb), 0.2);
}

.dump-search-toggle.enabled > img {
    filter: var(--theme-accent-filter);
}

.dump-help-msg {
    padding: 0;
    margin: 0;
}

.dump-error-msg {
    font-size: 1.5rem;
    padding: 0.5em;
    margin: auto;
    text-align: center;
    background: rgb(221 19 19 / 41%);
    border-radius: 8px;
    width: fit-content;
}

.dump-tree-root #contents {
    flex: 1;
    overflow: hidden;
    display: flex;
    width: 100%;
    border-top: 2px solid var(--theme-accent);
}

.dump-tree-root #subheader {
    padding-left: 1em;
    padding-right: 1em;
    column-gap: 0.5em;
}

.dump-tree-root #splitter {
    display: block;
    width: 4px;
    cursor: col-resize;
    background: var(--theme-accent);
    transition: opacity 0.25s;
    transition-delay: 0.0s;
    opacity: 0.0;
}

.dump-tree-root #splitter:hover {
    opacity: 0.6;
    transition-delay: 0.75s;
}

.dump-tree-root #splitter.dragging {
    opacity: 0.9;
    transition: none;
}

.dump-tree-root #tree {
    background-color: var(--theme-background-alt);
    font-family: var(--default-monospace-font-family);
    overflow: auto;
    width: 20%;
    scroll-padding-top: 1rem;
    scroll-padding-bottom: 1rem;
}

.dump-tree-root #tree ul {
    list-style: none;
    padding-left: 1.34em;
}

.dump-tree-root #tree > ul,
.dump-tree-root #tree > * {
    padding: 0.67em;
    margin: 0;
}

.dump-tree-root #tree summary {
    list-style: none;
    outline: none;
}

.dump-entry {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    margin-top: 0.3em;
}

.dump-entry-icon {
    flex-shrink: 0;
    height: 16px;
    width: 16px;
    display: block;
    background-size: 100%;
}

.dump-entry-icon-container {
    cursor: pointer;
    background: no-repeat center/80% url("../img/container-close-icon.svg");
    filter: var(--theme-svg-icon-filter);
}

.dump-entry-icon-container:hover {
    filter: invert(0.35);
}

details[open] > summary .dump-entry-icon-container {
    background-image: url("../img/container-open-icon.svg");
}

.dump-entry-icon-struct {
    background-image: url("../img/struct-icon.svg");
}

.dump-entry-icon-enum {
    background-image: url("../img/enum-icon.svg");
}

.dump-entry-icon-diff-added {
    background-image: url("../img/diff-added.svg");
    filter: var(--theme-svg-icon-filter);
}

.dump-entry-icon-diff-modified {
    background-image: url("../img/diff-modified.svg");
    filter: var(--theme-svg-icon-filter);
}

.dump-entry-icon-diff-removed {
    background-image: url("../img/diff-removed.svg");
    filter: var(--theme-svg-icon-filter);
}

.dump-entry-button {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    margin-top: 0.3em;
    scroll-margin: 3rem 1rem;
}

.dump-entry-button[data-tree-focus] {
    outline: 2px var(--theme-accent) solid !important;
    z-index: 5;
}

.type-link {
    cursor: pointer;
    font-family: var(--default-monospace-font-family);
    color: var(--theme-text);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: -0.3em;
    padding: 0.3em;
    background: none;
}

.type-link:hover {
    background: var(--theme-background-alt-focus);
    z-index: 5;
}

.type-link-selected {
    background-color: rgba(var(--theme-accent-rgb), 0.2);
    color: var(--theme-accent);
}

.link-btn {
    height: var(--icon-size);
    width: var(--icon-size);
    border: none;
    padding: 0;
    background: url("../img/link.svg") 0 50% no-repeat;
    background-size: 100%;
    filter: var(--theme-svg-icon-filter);
    transition: transform 0.1s;
    cursor: pointer;
    outline-offset: 2px;
}

.link-btn:hover {
    filter: invert(0.35);
    transform: scale(1.115);
}

.dump-tree-root #details {
    padding: 0.67em;
    flex: 1;
    overflow: auto;
}

.dump-tree-root #details-name {
    font-family: var(--default-monospace-font-family);
    margin-top: 0;
    margin-bottom: 0;
}

.dump-details-title {
    display: inline;
}

.dump-details-section-contents {
    margin-top: 1em;
    margin-bottom: 1em;
}

.code-snippet-contents {
    position: relative;
}

.code-snippet-contents #copy-btn {
    height: var(--icon-size);
    width: var(--icon-size);
    border: none;
    padding: 0;
    position: absolute;
    right: 0.77em;
    top: 0.77em;
    background: url("../img/copy-icon.svg") 0 0 no-repeat;
    background-size: 100%;
    filter: var(--theme-svg-icon-filter);
    transition: transform 0.1s, opacity 0.2s;
    opacity: 0;
    cursor: pointer;
    outline-offset: 2px;
}

.code-snippet-contents:hover #copy-btn,
.code-snippet-contents #copy-btn:focus {
    opacity: 1;
}

.code-snippet-contents #copy-btn:hover {
    filter: invert(0.35);
    transform: scale(1.115);
}

.code-snippet-contents code {
    font-family: var(--default-monospace-font-family);
    background: var(--theme-background-alt);
    border: none;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    padding: 0.67em;
    tab-size: 4;
}

.code-snippet-contents del {
    text-decoration: none;
    background-color: var(--theme-diff-del);
}

.code-snippet-contents ins {
    text-decoration: none;
    background-color: var(--theme-diff-ins);
}

.code-snippet-contents .line-ins {
    display: block;
    background-color: var(--theme-diff-ins-line);
}

.code-snippet-contents .line-del {
    display: block;
    background-color: var(--theme-diff-del-line);
}

/* code highlighting */
.hl-keyword {
    color: var(--theme-code-keyword);
}

.hl-type {
    color: var(--theme-code-type);
}

.hl-xml-element {
    color: var(--theme-code-xml-element);
}

.hl-xml-attribute {
    color: var(--theme-code-xml-attribute);
}

.hl-comment {
    color: var(--theme-code-comment);
}

.hl-number {
    color: var(--theme-code-number);
}

.hl-string {
    color: var(--theme-code-string);
}



.btn-clicked {
    animation: btn-clicked-anim 0.2s;
}

@keyframes btn-clicked-anim {
    0% {
        transform: initial;
    }
    50% {
        transform: scale(var(--btn-clicked-anim-scale));
    }
    100% {
        transform: initial;
    }
}


.loading-spinner {
    --size: min(16vh, 16vw);
    width: var(--size);
    height: var(--size);
    position: fixed;
    inset: 0;
    margin: auto;
    background: rgba(var(--theme-accent-rgb), 0.1) url("../img/logo.svg") no-repeat 50% 50%;
    background-size: 70%;
    border-radius: calc(var(--size) / 2);
    animation: loading-spinner-anim 0.75s infinite cubic-bezier(.39,.58,.57,1);
}

@keyframes loading-spinner-anim {
    to {
        transform: rotate(360deg) scale(1.5);
    }
}