:root {
    --default-font-family: "Roboto", "Helvetica", sans-serif;
    --default-monospace-font-family: "Roboto Mono", monospace;
    font-family: var(--default-font-family);

    --btn-clicked-anim-scale: 1.25;

    /* light mode */
    --theme-background: #f6f8fa;
    --theme-text: #000000;
    --theme-svg-icon-filter: none;
    --theme-table-background: #f6f8fa;
    --theme-table-background-alt: #f0f0f0;
    --theme-type-link-hover-background: 200, 200, 200;
    --theme-type-link-selected-background: 216, 216, 216;

    /* based on Github's Light theme */
    --theme-code-border: 1px solid #050a11;
    --theme-code-background: #eeeeee;
    --theme-code-keyword: #d73a49;
    --theme-code-type: #6f42c1;
    --theme-code-comment: #529949;

    --theme-game-title-base-color: #ffffff;
    --theme-game-title-border-color: #000000;
    --theme-game-title-border-offset: 2px;
    --theme-game-title-border-offset-neg: -2px;
}

.dark-mode {
    --theme-background: #11161d;
    --theme-text: #eeeeee;
    --theme-svg-icon-filter: invert(0.8);
    --theme-table-background: #11161d;
    --theme-table-background-alt: #22272e;
    --theme-type-link-hover-background: 86, 86, 102;
    --theme-type-link-selected-background: 66, 66, 82;

    /* based on Github's Dark Dimmed theme */
    --theme-code-border: 1px solid #eeeeee;
    --theme-code-background: #22272e;
    --theme-code-keyword: #f47067;
    --theme-code-type: #dcbdfb;
    --theme-code-comment: #8ddb8c;
}

@font-face {
    font-family: "Redemption";
    src: url("../fonts/Redemption.woff2") format("woff2");
}

@font-face {
    font-family: "Pricedown";
    src: url("../fonts/Pricedown.woff2") format("woff2");
}

@font-face {
    font-family: "Slate W01 Bold Italic";
    src: url("../fonts/Slate-W01-Bold-Italic.woff2") format("woff2");
}

.hidden {
    display: none !important;
    visibility: collapse !important;
}

body {
    background: var(--theme-background);
    color: var(--theme-text);
    margin: auto;
    padding: 0;
}

header {
    margin-top: 0.67em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.row-layout {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1em;
}

.header-push, .row-layout-push {
    margin-left: auto;
}

.header-title {
    font-size: 2.25em;
    font-weight: bold;
    font-family: var(--default-monospace-font-family);
    color: var(--theme-text);
    text-decoration: none;
}

.header-title:hover {
    filter: invert(0.35);
}

.header-icon {
    background: none;
    border: none;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    filter: var(--theme-svg-icon-filter);
}

.header-icon:hover {
    filter: invert(0.35);
}

.header-icon > img {
    height: 24px;
    width: 24px;
    display:block;
}

/* footer {
    position: fixed;
    bottom: 0;
} */

/* game titles fonts */
.gta4-font, .gta5-font, .gta6-font {
    font-family: "Pricedown", var(--default-font-family);
}

.gta5-font-detail {
    color: #559433;
}

.gta6-font-detail {
    --theme-game-title-border-color: #f47afe;
}

.rdr2-font, .rdr3-font {
    font-family: "Redemption", var(--default-font-family);
}

.rdr3-font-detail {
    color: #ee0000;
}

.mp3-font {
    font-family: "Slate W01 Bold Italic", var(--default-font-family);
    --theme-game-title-border-offset: 1px;
    --theme-game-title-border-offset-neg: -1px;
}

.mp3-font-detail {
    color: #f1b525;
}

.gta4-font, .gta5-font, .gta6-font, .gta6-font-detail, .rdr2-font, .rdr3-font, .mp3-font {
    color: var(--theme-game-title-base-color);
    text-shadow:
        var(--theme-game-title-border-offset-neg) var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        0                                         var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     var(--theme-game-title-border-offset-neg) 0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     0                                         0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset)     var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        0                                         var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset-neg) var(--theme-game-title-border-offset)     0 var(--theme-game-title-border-color),
        var(--theme-game-title-border-offset-neg) 0                                         0 var(--theme-game-title-border-color);
}

.mp3-font > small,
.gta4-font > small,
.gta5-font > small,
.gta6-font > small,
.rdr2-font > small,
.rdr3-font > small {
    /* reset font changes for small text */
    font-family: var(--default-font-family);
    color: var(--theme-text);
    text-shadow: none;
}

.dump-table-wrapper {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.dump-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.dump-table th, td {
    text-align: left;
    padding: 10px;
}

.dump-table th:first-child {
    width: 15%;
}

.dump-table thead > tr {
    background-color: var(--theme-table-background);
    border-bottom: 2px solid var(--theme-text);
    border-top: 2px solid var(--theme-text);
}

.dump-table tbody > tr:nth-child(odd) {
    background-color: var(--theme-table-background-alt);
}

.dump-table tbody > tr:nth-child(even) {
    background-color: var(--theme-table-background);
}

.dump-table tbody > tr:last-child {
    border-bottom: 2px solid var(--theme-text);
}

.dump-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100%;
    filter: var(--theme-svg-icon-filter);
    transition: transform 0.1s;
}

.dump-icon:hover {
    filter: invert(0.35);
    transform: scale(1.115);
}

.dump-icon-page {
    margin-right: 0.7em;
    background-image: url("../img/dump-icon-page.svg");
}

.dump-icon-html {
    background-image: url("../img/dump-icon-html.svg");
}

.dump-icon-plain-text {
    background-image: url("../img/dump-icon-plain-text.svg");
}

.dump-icon-json {
    background-image: url("../img/dump-icon-json.svg");
}

.dump-icon-xsd {
    background-image: url("../img/dump-icon-xsd.svg");
}

#dump-game-info {
    display: inline-block;
}

#dump-search-box {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    width: 50%;
    padding: 0.3em;
    color: var(--theme-text);
    background: var(--theme-code-background);
    border: none;
    border-radius: 4px;
    font-family: var(--default-monospace-font-family);
    font-size: 1.1em;
    outline: none;
}

#dump-search-box:hover, #dump-search-box:focus {
    filter: invert(0.1);
}

.dump-help-msg {
    margin: 0;
}

#dump-body {
    /* prevent page scrolling */
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#dump-main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#dump-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    width: 100%;
    border-top: 2px solid var(--theme-text);
}

#dump-subheader {
    padding-left: 1em;
    padding-right: 1em;
}

#dump-splitter {
    display: block;
    width: 4px;
    cursor: col-resize;
    background: var(--theme-text);
    transition: opacity 0.25s;
    transition-delay: 0.0s;
    opacity: 0.0;
}

#dump-splitter:hover {
    opacity: 0.6;
    transition-delay: 0.75s;
}

#dump-splitter.dragging {
    opacity: 0.9;
    transition: none;
}

#dump-list {
    background-color: var(--theme-table-background-alt);
    font-family: var(--default-monospace-font-family);
    overflow: auto;
    width: 30%;
    padding-left: 0.2em;
}

#dump-list ul {
    list-style: none;
    padding-left: 1.34em;
}

#dump-list > ul {
    padding-left: 0;
}

#dump-list summary {
    list-style: none;
    outline: none;
}

.dump-entry {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    margin-top: 0.3em;
}

.dump-entry-icon {
    flex-shrink: 0;
    height: 12px;
    width: 12px;
    display: block;
    background-size: 100%;
}

.dump-entry-icon-container {
    cursor: pointer;
    background-image: url("../img/container-close-icon.svg");
    filter: var(--theme-svg-icon-filter);
}

.dump-entry-icon-container:hover {
    filter: invert(0.35);
}

details[open] > summary .dump-entry-icon-container {
    background-image: url("../img/container-open-icon.svg");
}

.dump-entry-icon-struct {
    background-image: url("../img/struct-icon.svg");
}

.dump-entry-icon-enum {
    background-image: url("../img/enum-icon.svg");
}

.dump-entry-button {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    margin-top: 0.3em;
}

.type-link {
    cursor: pointer;
    font-family: var(--default-monospace-font-family);
    color: var(--theme-text);
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: -0.3em;
    padding: 0.3em;
    background: none;
    background-color: rgba(var(--theme-type-link-hover-background), 0.0);
    transition: background-color 0.25s;
    --btn-clicked-anim-scale: 1.05;
}

.type-link:hover {
    background-color: rgba(var(--theme-type-link-hover-background), 1.0);
    z-index: 100;
}

.type-link-selected {
    background-color: rgba(var(--theme-type-link-selected-background), 1.0);
}

.link-btn {
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background: url("../img/link.svg") 0 50% no-repeat;
    background-size: 100%;
    filter: var(--theme-svg-icon-filter);
    transition: transform 0.1s;
    cursor: pointer;
}

.link-btn:hover {
    filter: invert(0.35);
    transform: scale(1.115);
}

#dump-details {
    padding: 1em;
    flex: 1;
    overflow: auto;
}

#dump-details-name {
    font-family: var(--default-monospace-font-family);
    margin-top: 0;
    margin-bottom: 0;
}

.code-snippet-contents {
    position: relative;
}

.code-snippet-contents #copy-btn {
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    position: absolute;
    right: 0.77em;
    top: 0.77em;
    background: url("../img/copy-icon.svg") 0 0 no-repeat;
    background-size: 100%;
    filter: var(--theme-svg-icon-filter);
    transition: transform 0.1s, opacity 0.2s;
    opacity: 0;
    cursor: pointer;
}

.code-snippet-contents:hover #copy-btn {
    opacity: 1;
}

.code-snippet-contents #copy-btn:hover {
    filter: invert(0.35);
    transform: scale(1.115);
}

/* .code-snippet-contents #copy-btn:active {
    filter: invert(0.35);
} */

.code-snippet-contents code {
    font-family: var(--default-monospace-font-family);
    background: var(--theme-code-background);
    border: none;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    padding: 0.67em;
}

/* code classes use short names to slightly reduce HTML dumps size*/
/* .code-wrapper */
/* .c-w {
} */

.hl-keyword, .c-k {
    color: var(--theme-code-keyword);
}

.hl-type, .c-t {
    color: var(--theme-code-type);
}

/* .code-type-link */
.c-t-l {
    text-decoration: none;
}

/* .c-t-l:hover {
    background-color: red;
} */

/* .code-comment */
.hl-comment, .c-c {
    color: var(--theme-code-comment);
}



.btn-clicked {
    animation: btn-clicked-anim 0.2s;
}

@keyframes btn-clicked-anim {
    0% {
        transform: initial;
    }
    50% {
        transform: scale(var(--btn-clicked-anim-scale));
    }
    100% {
        transform: initial;
    }
}


.loading-spinner {
    width: 64px;
    height: 64px;
    margin: auto;
    background: url("../img/logo.svg") 0 50% no-repeat;
    background-size: 100%;
    animation: loading-spinner-anim 0.75s infinite cubic-bezier(.39,.58,.57,1);
}

@keyframes loading-spinner-anim {
    to {
        transform: rotate(360deg);
    }
}
